---
layout: default
---

{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% endif %}

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <h1>
        {% if post.link %}
        <a href="{{ post.link }}">
        {% else %}
        <a href="{{ site.baseurl }}{{ post.url }}">
        {% endif %}
          {{ post.title }}
        </a>
      </h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

<div class="pagination">
  <span class="pagination-prev">
    {% if paginator.previous_page %}
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="prev">
       Previous
      </a>
    {% endif %}
  </span>
  <span class="pagination-next">
    {% if paginator.next_page %}
      <a href="{{ site.baseurl}}{{ paginator.next_page_path }}" class="next">
        Next
      </a>
    {% endif %}
  </span>
</div>
